/*---------------------------------General---------------------------------*/

/*Mobile first - larger screen sizes taken care of using media queries (below) and Bootstrap grid*/

* {
  font-family: "Space Mono", monospace;
  list-style: none;
}

#log-in {
  background-color: #ff4000;
  color: #feefdd;
  border: none;
}

/*a tag behaviour site-wide*/

a:link {
  color: #201e1f;
}

a:visited {
  color: #201e1f;
}

a:hover {
  color: #ff4000;
}

/*Navbar*/

#navbar {
  background-color: #201e1f;
}

.navbar-brand {
  width: 70%;
}

.navbar-brand img {
  max-width: 30%;
}

#bingespark-logo {
  width: 10%;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

#profile-btn {
  background-color: #ff4000;
  color: #feefdd;
}


/*Index*/

#index-carousel > img{
display: flex;
justify-content: center;
overflow: hidden;
}
/*Main body*/

body {
  background-color: #feefdd;
}

/*Footer*/

#footer {
  background-color: #50b2c0;
}

.dropdown-menu a img {
  max-width: 10%;
  max-width: 10%;
}

/*----Index----*/

/*----Explore----*/

#explore-poster {
  padding-bottom: 10px;
}

/*----Contact----*/

#contact-submit {
  padding-top: 2%;
}

/*----Profile----*/
#profile-pills > #pills-stacked > .active > a {
  background-color: #ff4000;
}

#profile-panel-heading {
  background-color: #50b2c0;
  color: #ffffff;
}
#profile-panel-heading-signedin {
  justify-content: center;
  background-color: #ff4000;
  color: #feefdd;
}
#profile-panel-heading-signedin > h3 {
  justify-content: center;
}

#profile-panel-body {
  background-color: #feefdd;
}

#profile-pills > #pills-stacked > .active > {
  background-color: #feefdd;
}

#upload-btn {
  background-color: #feefdd;
  color: #feefdd;
}

#profile-panel-heading-review {
  background-color: #ff4000;
  color: #feefdd;
}

#nav-link .active{
  background-color: #ff4000;
  color: #feefdd;

}

#nav-link{
  background-color: #feefdd;
  color: #201e1f;
}
/*------------------------------------Media Queries-----------------------------------*/

/* 768px and up */

@media (min-width: 768px) {
}
