/*All*/

* {
    font-family: 'Space Mono', monospace;
}


/* a tag behaviour */

a:link {
    color: #FEEFDD;
}

a:visited {
    color: #FEEFDD;
}

a:hover {
    color: #FF4000;
}


/*Navbar*/

#navbar {
    background-color: #201E1F;
}

#profile-btn {
    background-color: #FF4000;
    color: #FEEFDD;
}


/*Main body*/

body {
    background-color: #FEEFDD;
}


/*Footer*/

#footer {
    background-color: #50B2C0;
}


/* Media Queries */


/* 768px and up */

@media (min-width: 768px) {
    /* Navbar */
    .form-group {
        display: flex;
        width: auto;
    }
    .form-control {
        min-width: 100%;
        overflow: hidden;
    }
    #profile-btn {
        max-width: 80%;
        max-height: 80%;
        min-width: 70%;
        max-height: 70%;
        display: flex;
        justify-content: center;
        margin: 25% auto;
    }
    .navbar-nav {
        display: flex;
        justify-items: center;
    }
    #hamburger-icon {
        display: none;
    }
    /* Main Body*/
    /* Footer */
    #footer {
        background-color: #50B2C0;
        position: fixed;
        height: 5%;
        width: 100%;
        bottom: 0;
    }
    #social-media-icons {
        overflow: none;
        height: 30%;
        width: 30%;
    }
}


/* TO ADD */